<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1 relative">
      <a href="#" class="absolute -top-2 -left-2">
        <span class="sr-only">Gemini</span>
        <img class="h-24 w-auto" src="/assets/logo.png" alt="">
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="font-normal leading-6 text-slate-200">Rozkład Jazdy</a>
      <a href="#" class="font-normal leading-6 text-slate-200">Firma</a>
      <a href="#" class="font-normal leading-6 text-slate-200">Praca</a>
      <a href="#" class="font-normal leading-6 text-slate-200">Oferta</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <app-login-nav></app-login-nav>
    </div>
  </nav>
</header>
