<p-dialog
  header="Nowa trasa"
  [modal]="true"
  [(visible)]="display"
  [closable]="true"
  [style]="{ minWidth: '24rem', maxWidth: '36rem' }"
  #modalContainer
>
  <div class="flex flex-col gap-4 p-fluid">
    <form [formGroup]="newRouteForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-6">
        <p-dropdown
          [options]="availableLines"
          formControlName="selectedLine"
          placeholder="Wybierz linię"
          optionLabel="description"
        />

        <p-dropdown
          [options]="matchingBusStops"
          formControlName="initialStop"
          placeholder="Przystanek początkowy"
          optionLabel="town"
          class="w-full"
        >
          <ng-template let-option pTemplate="item">
            <div>
              <div>{{ option.town }}</div>
              <small>{{ option.details }}</small>
            </div>
          </ng-template>
        </p-dropdown>

        <p-dropdown
          [options]="matchingBusStops"
          formControlName="lastStop"
          placeholder="Przystanek końcowy"
          optionLabel="town"
          class="w-full"
        >
          <ng-template let-option pTemplate="item">
            <div>
              <div>{{ option.town }}</div>
              <small>{{ option.details }}</small>
            </div>
          </ng-template>
        </p-dropdown>

        <div class="flex gap-4 justify-between">
          <div class="flex flex-col gap-2">
            <div class="flex items-center gap-2">
              <p-checkbox
                formControlName="isActive"
                [binary]="true"
                variant="filled"
              />
              <label>Trasa aktywna</label>
            </div>

            <div class="flex items-center gap-2">
              <p-checkbox
                formControlName="isTicketAvailable"
                [binary]="true"
                variant="filled"
              />
              <label>Bilet online</label>
            </div>
          </div>

          <p-inputNumber
            formControlName="price"
            mode="currency"
            currency="PLN"
            locale="pl-PL"
            placeholder="Cena"
            class="w-36 place-self-center"
          />
        </div>
      </div>

      <div class="flex justify-end gap-2 mt-12">
        <p-button
          label="Anuluj"
          icon="pi pi-times"
          severity="secondary"
          [outlined]="true"
          (onClick)="onCancel()"
        />
        <p-button
          label="Dodaj"
          icon="pi pi-check"
          [disabled]="newRouteForm.invalid"
          (onClick)="onSubmit()"
        />
      </div>
    </form>
  </div>
</p-dialog>
