:host {
  ::ng-deep .paginator-override {
    border-width: 0;
    border-radius: 0;
  }

  ::ng-deep .p-inputswitch,
  ::ng-deep .p-inputswitch-slider,
  ::ng-deep .p-inputswitch-slider::before {
    border-radius: 50px !important;
  }
}

.border-top-1.custom-border {
  border-top: 1px solid #e0e0e0;
  margin-top: 10px;
}
